<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="spica.lemon.plan">

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@drawable/ic_schedule"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.LemonTodo">
        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LemonTodo.NoActionBar">

        </activity>
        <activity
            android:name=".ui.modifyplan.CreateScheduleActivity"
            android:theme="@style/Theme.LemonTodo.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/Theme.LemonTodo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--用于初始化-->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <!-- 图片加载器的初始化 -->
            <meta-data
                android:name="spica.lemon.plan.initializer.CoilInitializer"
                android:value="androidx.startup" />

        </provider>

        <!--适配高版本的私有目录访问权限-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!-- 结束-->

    </application>

</manifest>